@{
    var addedSkillsId = Model + "Skills";
    var label = Model + " Skills";
    var listId = Model + "Equipped";
}
<div id="@addedSkillsId" class="input-field col s12">
    <ul class=" collection" id="@listId"></ul>
</div>
